<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Rolling Theme</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />
    <link rel="stylesheet" href="styles/color.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    
    
</head>


<body>
<div id="wrapper">
<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
        	<div class="container">
            <header id="top" class="twelve columns">
            	<div id="logo"  class="five columns alpha"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>
                <div id="topright" class="seven columns omega">
                    <ul id="sn">
                        <li><a href="http://twitter.com" title="Twitter"><span class="icon-img" style="background:url(images/social/twitter.png)"></span></a></li>
                        <li><a href="http://facebook.com" title="Facebook"><span class="icon-img" style="background:url(images/social/fb.png)"></span></a></li>
                        <li><a href="https://plus.google.com" title="Google+"><span class="icon-img" style="background:url(images/social/googleplus.png)"></span></a></li>
                        <li><a href="http://rss.com" title="RSS"><span class="icon-img" style="background:url(images/social/rss.png)"></span></a></li>
                        <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img" style="background:url(images/social/pinterest.png)"></span></a></li>
                    </ul> 
                </div>
                <section id="navigation">
                    <nav id="nav-wrap">
                        <ul id="topnav" class="sf-menu">
                            <li class="first"><a href="index.html"><span>Home</span></a></li>
                            <li class="current second"><a href="about.html"><span>About Us</span></a>
                            	<ul>
                                	<li><a href="pricing.html">Pricing Box</a></li>
                                    <li><a href="single.html">Blog Details</a></li>
                                    <li><a href="columns.html">Columns</a></li>
                                    <li><a href="#">Dropdown</a>
                                        <ul>
                                            <li><a href="#">Only</a></li>
                                            <li><a href="#">Example of</a></li>
                                            <li><a href="#">The Dropdown</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="third"><a href="service.html"><span>Services</span></a></li>
                            <li class="fourth"><a href="#"><span>Portfolio</span></a>
                            	<ul>
                                	<li><a href="portfolio2.html">Portfolio 2 Column</a></li>
                                    <li><a href="portfolio3.html">Portfolio 3 Column</a></li>
                                    <li><a href="portfolio4.html">Portfolio 4 Column</a></li>
                                </ul>
                            </li>
                            <li class="fifth"><a href="blog.html"><span>Blog</span></a></li>
                            <li class="sixth"><a href="contact.html"><span>Contact Us</span></a></li>
                            <li class="seventh"><a href="element.html"><span>Elements</span></a></li>
                        </ul><!-- topnav -->
                    </nav><!-- nav -->	
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
            </div>
        </div>
        <!-- END HEADER -->
        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
            <div class="container">
                <div id="beforecontent" class="twelve columns pattern3">
                    <div id="pagetitle-container">
                    	<h1 class="pagetitle">Our History Begin Here</h1>
                        <p class="pagedesc">This can be your tagline or something. You can edit, remove form option page</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            
            	<h2>Our History</h2> 
                <div class="six columns firstcols">   
                <p>Sed vitae nunc erat, a consectetur nibh. Fusce porttitor, neque id consectetur consequat, elit enim scelerisque risus, id sagittis augue ligula fringilla felis. Aliquam eu justo ultricies nunc ornare ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sit amet nulla at leo imperdiet mattis. Sed ut mi massa. Sed enim ante, pulvinar vel venenatis et, porta vitae dolor.</p>
                </div>
                <div class="six columns lastcols">   
                <p>Sed vitae nunc erat, a consectetur nibh. Fusce porttitor, neque id consectetur consequat, elit enim scelerisque risus, id sagittis augue ligula fringilla felis. Aliquam eu justo ultricies nunc ornare ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sit amet nulla at leo imperdiet mattis. Sed ut mi massa. Sed enim ante, pulvinar vel venenatis et, porta vitae dolor.</p>
                </div>
                
                <div class="separator small"></div>
                <div class="box">
                	<div class="seven columns"><h2>Welcome to Rolling Theme. We provide Clean and Simple design Feel free to looking up and join the newsletter</h2></div>
                    <div class="three columns lastcols positionright"><a href="#" class="button">Buy This Theme Now &rarr;</a></div>
                    <div class="clear"></div>
                </div>
                
                <div class="separator"></div>
                <h2>Meet Our Team</h2>
				<ul id="ts-display" class="ts-display-pf-col-3 twelve columns">
                    <li>
                        <div class="ts-display-pf-img">
                            <img src="images/content/pf/pf3_8.jpg" alt=""/>					
                        </div>
                        <div class="ts-display-pf-text">
                            <h2>John Doe - Founder</h2>
                            <span>Donec nunc erat, luctus at mattis vel, rutrum ac nunc. Morbi pretium suscipit suscipit. Aliquam id mi tellus. Ut vitae dolor nunc.</span>
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <img src="images/content/pf/pf3_10.jpg" alt=""/>						
                        </div>
                        <div class="ts-display-pf-text">
                            <h2>Clara Smith - Design</h2>
                            <span>Donec nunc erat, luctus at mattis vel, rutrum ac nunc. Morbi pretium suscipit suscipit. Aliquam id mi tellus. Ut vitae dolor nunc.</span>
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>

                    <li>
                        <div class="ts-display-pf-img">
                            <img src="images/content/pf/pf3_11.jpg" alt=""/>						
                        </div>
                        <div class="ts-display-pf-text">
                            <h2>Nathan Zoe - Programming</h2>
                            <span>Donec nunc erat, luctus at mattis vel, rutrum ac nunc. Morbi pretium suscipit suscipit. Aliquam id mi tellus. Ut vitae dolor nunc.</span>
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                </ul>
                
               
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER -->
        <div id="outerfooter">
        	<div class="container">
        	<div id="footercontainer" class="twelve columns">
            	<footer id="footer">Copyright &copy;2012. Theme design by <a href="http://templatesquare.com">TemplateSquare.com</a></footer>
            </div>
            </div>
        </div>
        <!-- END FOOTER -->
        
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->
</div><!-- end wrapper -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
