<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Rolling Theme</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />
    <link rel="stylesheet" href="styles/color.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    
    
</head>


<body>
<div id="wrapper">
<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
        	<div class="container">
            <header id="top" class="twelve columns">
            	<div id="logo"  class="five columns alpha"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>                
                <div id="topright" class="seven columns omega">
                    <ul id="sn">
                        <li><a href="http://twitter.com" title="Twitter"><span class="icon-img" style="background:url(images/social/twitter.png)"></span></a></li>
                        <li><a href="http://facebook.com" title="Facebook"><span class="icon-img" style="background:url(images/social/fb.png)"></span></a></li>
                        <li><a href="https://plus.google.com" title="Google+"><span class="icon-img" style="background:url(images/social/googleplus.png)"></span></a></li>
                        <li><a href="http://rss.com" title="RSS"><span class="icon-img" style="background:url(images/social/rss.png)"></span></a></li>
                        <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img" style="background:url(images/social/pinterest.png)"></span></a></li>
                    </ul> 
                </div>
                <section id="navigation">
                    <nav id="nav-wrap">
                        <ul id="topnav" class="sf-menu">
                            <li class="first"><a href="index.html"><span>Home</span></a></li>
                            <li class="second"><a href="about.html"><span>About Us</span></a>
                            	<ul>
                                	<li><a href="pricing.html">Pricing Box</a></li>
                                    <li><a href="single.html">Blog Details</a></li>
                                    <li><a href="columns.html">Columns</a></li>
                                    <li><a href="#">Dropdown</a>
                                        <ul>
                                            <li><a href="#">Only</a></li>
                                            <li><a href="#">Example of</a></li>
                                            <li><a href="#">The Dropdown</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="current third"><a href="service.html"><span>Services</span></a></li>
                            <li class="fourth"><a href="#"><span>Portfolio</span></a>
                            	<ul>
                                	<li><a href="portfolio2.html">Portfolio 2 Column</a></li>
                                    <li><a href="portfolio3.html">Portfolio 3 Column</a></li>
                                    <li><a href="portfolio4.html">Portfolio 4 Column</a></li>
                                </ul>
                            </li>
                            <li class="fifth"><a href="blog.html"><span>Blog</span></a></li>
                            <li class="sixth"><a href="contact.html"><span>Contact Us</span></a></li>
                            <li class="seventh"><a href="element.html"><span>Elements</span></a></li>
                        </ul><!-- topnav -->
                    </nav><!-- nav -->	
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
            </div>
        </div>
        <!-- END HEADER -->
        
        <!-- AFTER HEADER -->
        <div id="outerbeforecontent">
            <div class="container">
                <div id="beforecontent" class="twelve columns pattern3">
                    <div id="pagetitle-container">
                    	<h1 class="pagetitle">Our Service Overview</h1>
                        <span class="pagedesc">This can be your tagline or something. You can edit, remove form option page</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END AFTER HEADER -->
        
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            
                <h2 class="margin_bottom_middle">What We Do</h2>
                <p>Nam vehicula libero non libero placerat placerat. Nam lorem erat, ornare quis dignissim id, vestibulum vitae elit. Praesent a nulla ac nunc tincidunt convallis. Integer nulla lacus, porta in auctor sed, porttitor et sem. Mauris eleifend gravida porta. Suspendisse pharetra enim porta lectus pulvinar interdum. Maecenas non eleifend elit. Nulla facilisi. </p>
                
                <div class="four columns alpha">
                    <h2 class="titleSection margin_bottom_middle">Branding</h2>
                    <p>Maecenas non eleifend elit. Nulla facilisi. Nunc ut massa eu enim egestas laoreet quis ut lorem. Sed malesuada volutpat vestibulum. Sed tempor, ante eget ultrices lacinia, dui mi sollicitudin ante, vel tincidunt libero nunc vitae urna.</p>
                </div>
                <div class="four columns">
                    <h2 class="titleSection margin_bottom_middle">Promotion</h2>
                    <p>Nullam accumsan mattis purus, quis elementum metus feugiat at. Fusce ut mi est, id lobortis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent malesuada viverra ipsum.</p>
                </div>
                <div class="four columns omega">
                    <h2 class="titleSection margin_bottom_middle">Our Features</h2>
                    <ul class="checklist">
                    	<li>Maecenas venenatis pretium</li>
                        <li>Class aptent taciti</li>
                        <li>Suspendisse pharetra enim porta</li>
                        <li>Donec condimentum est id nisl</li>
                    </ul>
                </div>
                
                <div class="separator line"></div>
                
                <h2>Services Overview</h2>
				<ul id="ts-display" class="ts-display-pf-col-4">
                    <li>
                        <div class="ts-display-pf-img">
                            <img src="images/content/pf/pf4_7.jpg" alt="" class="aligncenter"/>
                        </div>
                        <h4>Consistent Support</h4>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <img src="images/content/pf/pf4_9.jpg" alt="" class="aligncenter"/>					
                        </div>
             			<h4>Custom Widget</h4>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <img src="images/content/pf/pf4_6.jpg" alt="" class="aligncenter"/>					
                        </div>
          				<h4>Google WebFonts</h4>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <img src="images/content/pf/pf4_12.jpg" alt="" class="aligncenter"/>						
                        </div>
                        <h4>Built-in Color Schemes</h4>
                    </li>
                </ul>
                
                 <div class="separator line"></div>
                 
                 <div class="six columns alpha">
                 	<img src="images/icons/icon9.png" alt="" class="alignleft" />
                 	<div class="indentleft">
                    <h3>Slider Manager</h3>
                    <p>Nullam accumsan mattis purus, quis elementum metus feugiat at.<br/> Fusce ut mi est, id lobortis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                 </div>
                 <div class="six columns omega">
                 	<img src="images/icons/icon10.png" alt="" class="alignleft" />
                 	<div class="indentleft">
                    <h3>Custom Post Types</h3>
                    <p>Nullam accumsan mattis purus, quis elementum metus feugiat at.<br/> Fusce ut mi est, id lobortis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                 </div>
                 
                 <div class="separator small"></div>
                 
                 <div class="six columns alpha">
                 	<img src="images/icons/icon11.png" alt="" class="alignleft" />
                 	<div class="indentleft">
                    <h3>New Slider Builder</h3>
                    <p>Nullam accumsan mattis purus, quis elementum metus feugiat at.<br/> Fusce ut mi est, id lobortis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                 </div>
                 <div class="six columns omega">
                 	<img src="images/icons/icon12.png" alt="" class="alignleft" />
                 	<div class="indentleft">
                    <h3>Element Color</h3>
                    <p>Nullam accumsan mattis purus, quis elementum metus feugiat at.<br/> Fusce ut mi est, id lobortis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                 </div>
                
                
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER -->
        <div id="outerfooter">
        	<div class="container">
        	<div id="footercontainer" class="twelve columns">
            	<footer id="footer">Copyright &copy;2012. Theme design by <a href="http://templatesquare.com">TemplateSquare.com</a></footer>
            </div>
            </div>
        </div>
        <!-- END FOOTER -->
        
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->
</div><!-- end wrapper -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
